<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <style>
        .done-task {
            text-decoration: line-through;
        }
    </style>

</head>
<body>

    <div id="app">
        <input type="text" v-model="taskText"><button v-on:click="addTodo">+</button>

        <ul>
            <!-- <li v-for="task in tasks" :class="{ 'done-task': task.done }">
                <input type="checkbox" v-model="task.done" />
                {{ task }}
                <button v-on:click="removeTodo(task)">X</button>
            </li> -->

            <todo-item v-for="task in tasks" :task="task" v-on:remove="removeTodo"></todo-item>
        </ul>

        <button  v-on:click="clearTasks">Clear</button>
    </div>

    <script>
        Vue.component('todo-item', {
            template: `
                <li :class="{ 'done-task': task.done }">
                    <input type="checkbox" v-model="task.done" />
                    {{ task }}
                    <button v-on:click="removeTodo(task)">X</button>
                </li>
            `,
            props: ['task'],
            methods: {
                removeTodo(task) {
                    this.$emit('remove', task)
                }   
            }
        })

        new Vue({
            el: '#app',
            data: {
                taskText: '',
                tasks: [
                    {
                        name: 'Task 1',
                        done: false
                    },
                    {
                        name: 'Task 2',
                        done: false,
                    },
                    {
                        name: 'Tasj 3',
                        done: false,
                    }
                ]
            },
            methods: {
                addTodo() {
                    this.tasks.push(this.taskText)
                    this.taskText = ''
                },
                removeTodo(task) {
                    var index = this.tasks.indexOf(task)
                    this.tasks.splice(index, 1)
                },
                clearTasks() {
                    this.tasks = []
                }
            }
        })
    </script>
</body>
</html>