@charset "UTF-8";
/*Initial setting*/
.container {
  width: 1200px;
  height: auto;
  margin: auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.education-header {
  position: relative;
  height: 710px;
  background: url(/images/bg-01-free-img.jpeg);
  background-size: cover;
  border-bottom-right-radius: 150px;
  background-attachment: fixed;
}

.education-header-mask {
  height: 710px;
  background: linear-gradient(290deg, rgba(0, 121, 145, 0.872), #2E4A66);
  border-bottom-right-radius: 150px;
}

.education-header-navbar {
  padding-top: 24px;
  padding-bottom: 24px;
  z-index: 1;
}

#menu-check {
  display: none;
}

#menu-check:checked ~ nav {
  display: block;
}

nav {
  overflow: hidden;
  background-color: #FFFFFF;
  display: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-block ul {
  list-style-type: none;
  display: none;
}

.menu-block li {
  font-size: 15px;
  padding-bottom: 20px;
}

.menu-block li a {
  color: black;
  text-decoration: none;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  height: auto;
  margin: auto;
}

.education-header-logo {
  height: 21px;
}

label {
  display: block;
  position: absolute;
  right: 24px;
  top: 24px;
}

.menu-btn {
  opacity: 0%;
  background-color: #FFAB5E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  height: auto;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.menu-icon {
  width: 20px;
  height: 3px;
  background-color: white;
  margin: 2px;
}

.education-header-navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.education-header-navbar-menu ul li {
  display: block;
}

.education-header-navbar-menu ul {
  list-style-type: none;
  overflow: hidden;
}

.education-header-navbar-menu li {
  font-size: 15px;
  float: right;
}

.education-header-navbar-menu li a {
  display: block;
  color: #FFFFFFBF;
  padding-right: 45px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: #FFFFFF;
}

.education-header-navbar-menu li a:hover:not(.active) {
  color: #FFFFFF;
}

.education-header-navbar-btn {
  background-color: #FFAB5E;
  border-style: none;
  text-align: center;
  display: inline-block;
  border-radius: 100px;
  font-size: 14px;
  color: #FFFFFF;
  padding: 15px 32px;
  cursor: pointer;
}

.education-header-navbar-btn:hover {
  background-color: #FF9635;
}

.education-header-content {
  margin-top: 100px;
  width: 660px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.education-header-content-video {
  color: white;
  font-size: 15px;
  position: relative;
  padding-left: 35px;
  margin-left: 0;
}

.education-header-content-video::before {
  display: block;
  content: "";
  width: 19px;
  height: 19px;
  background: url(/images/Ellipse1.svg) no-repeat;
  position: absolute;
  left: 2px;
}

.education-header-content-title h1 {
  margin-top: 24px;
  font-size: 70px;
  color: white;
  word-wrap: break-word;
}

.education-header-content-title p {
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 5%;
  color: white;
  margin-top: 30px;
  margin-left: 0;
}

.education-header-content-course {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.education-header-content-course p {
  margin-left: 78px;
}

.education-header-content-course-btn {
  background-color: #FFAB5E;
  border-style: none;
  text-align: center;
  display: inline-block;
  border-radius: 100px;
  font-size: 14px;
  color: #FFFFFF;
  padding: 15px 32px;
  cursor: pointer;
}

.education-header-content-course-btn:hover {
  background-color: #FF9635;
}

.education-header-content-btn:hover {
  background-color: #FF9635;
}

.education-header-content-course-all {
  font-size: 15px;
  color: #FFFFFF;
  position: relative;
}

.education-header-content-course-all:hover {
  color: #FF9635;
  cursor: pointer;
}

.education-header-content-course-all::before {
  content: "";
  width: 9px;
  height: 9px;
  background: url(/images/Polygon2.svg) no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: -15px;
}

.education-header-content-course-all:hover::before {
  background: url(/images/Polygon3.svg) no-repeat;
}

/*education-technologies-container*/
.education-technologies-container {
  margin-top: 100px;
  margin-bottom: 167px;
}

.education-technologies-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.education-technologies-title-container {
  width: 50%;
}

.education-technologies-title-container h2 {
  font-size: 45px;
  line-height: 1.2;
  word-wrap: break-word;
}

.education-technologies-img {
  width: 50%;
}

.education-technologies-img ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  overflow: hidden;
  width: 100%;
}

.education-technologies-courses {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.education-technologies-courses-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%;
}

.education-technologies-courses-title p {
  padding-bottom: 12px;
  margin: 0;
}

.education-technologies-courses-title h2 {
  font-size: 45px;
  margin: 0;
}

.education-technologies-courses-line {
  border-left: solid #FFAB5E 3px;
  height: 100%;
  width: 55%;
}

.education-technologies-courses-line p {
  color: #22323D;
  padding-left: 40px;
  line-height: 30px;
  word-wrap: break-word;
  margin-top: 0;
}

.education-technologies-courses-btn {
  background-color: #FFAB5E;
  border-style: none;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: inline-block;
  border-radius: 100px;
  font-size: 14px;
  color: #FFFFFF;
  padding: 15px 40px;
  cursor: pointer;
}

.education-technologies-courses-btn:hover {
  background-color: #FF9635;
}

.education-popular-courses-list {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.education-popular-courses-list-content {
  border: solid #333333 1px;
  width: 30%;
  height: 409px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.education-popular-courses-list-content h3, p {
  margin: 0;
}

.education-popular-courses-list-content h3 {
  padding-top: 18px;
  padding-bottom: 11px;
}

.education-popular-courses-list-content p {
  font-size: 15px;
  padding-bottom: 22px;
}

.education-popular-courses-list-content img {
  width: 100%;
  overflow: hidden;
}

.education-popular-courses-list-content-btn {
  background-color: #428BCA;
  border: #357EBD;
  border-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: inline-block;
  border-radius: 4px;
  font-size: 14px;
  color: #FFFFFF;
  padding: 6px 12px;
  cursor: pointer;
  width: 100%;
}

.education-popular-courses-list-content-btn:hover {
  background-color: #357EBD;
}

.complete-bar {
  margin-top: 17px;
  border-top: solid #C4C4C4 5px;
  border-radius: 11px;
  width: 100%;
  font-size: 12px;
  color: #007991;
}

.complete-bar p {
  float: right;
}

.content-box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.education-career {
  background: url(/images/background1.jpeg);
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

.education-career-mask {
  background: linear-gradient(290deg, #2e4a66e5, #007991e5);
  height: 100%;
}

.education-career-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
}

.education-career-container-skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.education-career-container-skill-list {
  width: 33.33%;
  margin-right: 40px;
}

.education-career-container-skill-list h1 {
  font-size: 25px;
  color: #FFFFFF;
  padding-top: 17px;
}

.education-career-container-skill-list p {
  font-size: 15px;
  color: #FFFFFF;
  margin-left: 0;
  line-height: 25px;
  letter-spacing: 0.5px;
}

.separator-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.parallelogram {
  width: 25.5px;
  height: 6px;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
  background: #FF9635;
  margin-right: 10px;
}

.education-career-container-skill-block {
  height: 274px;
  width: 70%;
  background-color: #FFFFFF;
  padding: 40px;
}

.education-career-container-skill-block p {
  color: #007991;
  font-weight: bold;
  word-wrap: break-word;
  line-height: 1.5;
}

.education-career-container-skill-block h2 {
  font-size: 25px;
  font-weight: bold;
}

.education-career-container-skill-block-star {
  font-size: 15px;
  position: relative;
  padding-left: 20px;
}

.education-career-container-skill-block-star:hover {
  color: #FF9635;
  cursor: pointer;
}

.education-career-container-skill-block-star::before {
  content: "";
  width: 9px;
  height: 9px;
  background: url(./images/Polygon3.svg) no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  left: 0;
}

.education-career-container-skill-block-star:hover::before {
  background: url(./images/Polygon3.svg) no-repeat;
}

.education-choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 169px;
  margin-bottom: 130px;
}

.education-choose-left-content p {
  margin-left: 0;
  font-size: 15px;
  font-weight: bold;
}

.education-choose-left-content h1 {
  font-size: 45px;
  font-weight: bold;
}

.education-choose-left-content h2 {
  color: #22323D;
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
}

.education-choose-right-content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 38px;
}

.education-choose-right-content-list h2 {
  font-size: 15px;
  color: #22323D;
  line-height: 20px;
}

.education-choose-right-content-list h1 {
  margin: 0;
  padding-bottom: 8px;
  font-size: 20px;
}

.education-choose-right-content-list p {
  margin: 0;
  font-weight: normal;
  color: #22323D;
  line-height: 20px;
}

.education-choose-right-content-list-icon1 {
  width: 36px;
  height: 36px;
  border-radius: 999em;
  background-color: #FFAB5E;
  margin-right: 17px;
  position: relative;
}

.education-choose-right-content-list-icon1::before {
  content: "";
  background: url(/images/fa-solid_crown.svg) no-repeat;
  position: absolute;
  width: 21px;
  height: 17px;
  top: 9px;
  right: 8px;
}

.education-choose-right-content-list-icon1:hover:before {
  background: url(/images/fa-solid_crown_gray.svg) no-repeat;
}

.education-comment-bg {
  height: 970px;
  background-color: #ecf0f282;
}

.education-comment-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 75px;
}

.education-comment-title p {
  margin: 0;
}

.education-comment-score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.education-comment-score h1 {
  font-size: 90px;
  color: #22323D;
  margin: 0;
}

.education-comment-content-block {
  width: 48%;
  height: 210px;
  background-color: #FFFFFF;
  border-radius: 30px;
  margin-top: 100px;
  padding: 20px;
}

.comment-box {
  height: 100%;
  width: 100%;
}

.education-comment-content-block p {
  padding: 0;
  margin-top: -20px;
  line-height: 20px;
  margin-left: 35px;
  margin-bottom: 30px;
}

.education-comment-score-star {
  margin-top: 10px;
  margin-left: 51px;
}

.star-elementor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 11px;
}

.star {
  color: #FFAB5E;
}

.education-comment-score-star-title {
  line-height: 25px;
}

.education-comment-content-block-photo {
  border-radius: 15px;
  background-size: cover;
}

.education-comment-content-block-photo1 {
  position: relative;
  bottom: 50px;
  left: 35px;
}

.elementor-star-full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.star-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.star-full::after {
  content: "★";
  color: #FFAB5E;
  padding-right: 8.5px;
  position: relative;
  top: -15px;
}

.education-comment-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.education-join-bg {
  height: 400px;
  background-color: #ECF0F2;
}

.education-join {
  text-align: center;
  padding-top: 76px;
}

.education-join h1 {
  font-size: 45px;
  margin-top: 0;
}

.education-join p {
  font-size: 15px;
}

input[type=email] {
  height: 50px;
  width: 391px;
  background-color: #FFFFFF;
  border-style: solid;
  border-color: #E5E5E5;
  margin-top: 29px;
  padding-left: 14px;
}

.email-btn-elementor {
  background-color: #FFAB5E;
  border-style: none;
  text-align: center;
  border-radius: 100px;
  font-size: 14px;
  color: #FFFFFF;
  padding: 15px 32px;
  cursor: pointer;
}

.email-btn-elementor:hover {
  background-color: #FF9635;
}

.email-btn {
  margin-top: 29px;
}

.footer-bg {
  height: 400px;
  padding-top: 106px;
}

.footer-logo {
  height: 60px;
  width: auto;
  margin-bottom: 57px;
}

.footer-row-left p {
  color: #22323D;
  margin-left: 0;
  line-height: 25px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-row-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin-top: 40px;
}

.footer-row-left li {
  padding-right: 15px;
}

.footer-row-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-row-right-list-1 h1,
.footer-row-right-list-2 h1 {
  font-size: 21px;
  color: #22323D;
}

.footer-row-right-list-1 ul,
.footer-row-right-list-2 ul {
  list-style-type: none;
  margin-top: 30px;
  padding-left: 0;
  font-size: 15px;
}

.footer-row-right-list-1 li,
.footer-row-right-list-2 li {
  color: #22323D;
  padding-bottom: 11px;
}

.footer-row-right-list-1 {
  margin-right: 150px;
}

.footer-container {
  height: 100px;
  border-top: 1px solid #989898;
  margin: 0 auto;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50.5px;
  margin-bottom: 50px;
  font-size: 14px;
}

@media only screen and (max-width: 1300px) {
  .container, .menu-container {
    width: 95%;
  }
}
@media only screen and (max-width: 1024px) {
  .education-technologies-title {
    display: block;
  }

  .education-technologies-img ul {
    display: block;
    padding: 0;
    text-align: center;
  }

  .education-technologies-img li {
    display: inline;
    padding: 0 18px;
  }

  .education-technologies-title-container h2 {
    text-align: center;
  }

  .education-technologies-title-container {
    width: 100%;
  }

  .education-technologies-img {
    width: 100%;
  }

  .education-career-container {
    display: block;
    padding-top: 50px;
  }

  .education-career-container h2 {
    font-size: 18px;
  }

  .education-technologies-courses {
    display: block;
  }

  .button-box {
    margin-top: 40px;
  }

  .education-technologies-courses-flex {
    width: 100%;
  }

  .education-career-container-skill-block {
    width: 40%;
    margin-top: 40px;
  }
}
label {
  display: block;
}

.menu-btn {
  opacity: 100%;
}

@media only screen and (max-width: 1010px) {
  .education-header-navbar-menu {
    display: none;
  }

  .menu-block {
    display: block;
  }
}