/*Initial setting*/
/* herder*/
.education-header {
  position: relative;
  height: 710px;
  background: url(/Zora_20210812/images/bg-01-free-img.jpeg);
  background-size: cover;
  border-bottom-right-radius: 150px;
  background-attachment: fixed;
}

.education-header-mask {
  height: 710px;
  background: linear-gradient(290deg, rgba(0, 121, 145, 0.872), #2E4A66);
  border-bottom-right-radius: 150px;
}

.education-header-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 24px;
  margin-left: 300px;
  margin-right: 300px;
}

.education-header-logo {
  height: 21px;
}

.education-header-navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column-align: right;
      justify-self: right;
}

.education-header-navbar-menu ul li {
  display: inline;
}

.education-header-navbar-menu ul {
  list-style-type: none;
  overflow: hidden;
}

.education-header-navbar-menu li {
  font-size: 15px;
  float: right;
}

.education-header-navbar-menu li a {
  display: block;
  color: #FFFFFFBF;
  padding-right: 45px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: #FFFFFF;
}

.education-header-navbar-menu li a:hover:not(.active) {
  color: #FFFFFF;
}

.education-header-navbar-btn {
  background-color: #FFAB5E;
  border-style: none;
  text-align: center;
  display: inline-block;
  border-radius: 100px;
  font-size: 14px;
  color: #FFFFFF;
  padding: 15px 32px;
  cursor: pointer;
}

.education-header-navbar-btn:hover {
  background-color: #FF9635;
}

.education-header-content {
  margin-top: 100px;
  margin-left: 300px;
}

.education-header-content-video {
  color: white;
  font-size: 15px;
  position: relative;
  padding-left: 35px;
  margin-left: 0;
}

.education-header-content-video::before {
  display: block;
  content: "";
  width: 19px;
  height: 19px;
  background: url(/Zora_20210812/images/Ellipse1.svg) no-repeat;
  position: absolute;
  left: 2px;
}

.education-header-content-title h1 {
  margin-top: 24px;
  font-size: 70px;
  color: white;
}

.education-header-content-title p {
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 5%;
  color: white;
  margin-top: 30px;
  margin-left: 0;
}

.education-header-content-course {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.education-header-content-course p {
  margin-left: 78px;
}

.education-header-content-course-btn {
  background-color: #FFAB5E;
  border-style: none;
  text-align: center;
  display: inline-block;
  border-radius: 100px;
  font-size: 14px;
  color: #FFFFFF;
  padding: 15px 32px;
  cursor: pointer;
}

.education-header-content-course-btn:hover {
  background-color: #FF9635;
}

.education-header-content-btn:hover {
  background-color: #FF9635;
}

.education-header-content-course-all {
  font-size: 15px;
  color: #FFFFFF;
  position: relative;
}

.education-header-content-course-all:hover {
  color: #FF9635;
  cursor: pointer;
}

.education-header-content-course-all::before {
  content: "";
  width: 9px;
  height: 9px;
  background: url(/Zora_20210812/images/Polygon2.svg) no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: -15px;
}

.education-header-content-course-all:hover::before {
  background: url(/Zora_20210812/images/Polygon3.svg) no-repeat;
}

/*education-technologies-container*/
.education-technologies-container {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 100px;
  margin-bottom: 167px;
}

.education-technologies-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.education-technologies-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.education-technologies-img ul li {
  display: inline;
}

.education-technologies-img li {
  margin-left: 34px;
}

.education-technologies-img ul {
  list-style-type: none;
  overflow: hidden;
}

.education-technologies-courses {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.education-technologies-courses-title p {
  padding-bottom: 12px;
  margin: 0;
}

.education-technologies-courses-title h2 {
  margin: 0;
}

.education-technologies-courses-line {
  border-left: solid #FFAB5E 3px;
  height: 85px;
}

.education-technologies-courses-line p {
  color: #22323D;
  padding-left: 33px;
  line-height: 30px;
  margin-top: 0;
}

.education-technologies-courses-btn {
  background-color: #FFAB5E;
  border-style: none;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: inline-block;
  border-radius: 100px;
  font-size: 14px;
  color: #FFFFFF;
  padding: 15px 40px;
  cursor: pointer;
}

.education-technologies-courses-btn:hover {
  background-color: #FF9635;
}

.education-popular-courses-list {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.education-popular-courses-list-content {
  border: solid #333333 1px;
  height: 409px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.education-popular-courses-list-content h3, p {
  margin: 0;
}

.education-popular-courses-list-content h3 {
  padding-top: 18px;
  padding-bottom: 11px;
}

.education-popular-courses-list-content p {
  font-size: 15px;
  padding-bottom: 22px;
}

.education-popular-courses-list-content img {
  height: 211px;
}

.education-popular-courses-list-content-btn {
  background-color: #428BCA;
  border: #357EBD;
  border-style: none;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  font-size: 14px;
  color: #FFFFFF;
  padding: 15px 130px;
  cursor: pointer;
}

.education-popular-courses-list-content-btn:hover {
  background-color: #357EBD;
}

.complete-bar {
  margin-top: 17px;
  border-top: solid #C4C4C4 5px;
  border-radius: 11px;
  width: 335px;
  font-size: 12px;
  color: #007991;
}

.complete-bar p {
  float: right;
}

.education-popular-courses-list-content h3,
p,
.education-popular-courses-list-content-btn,
.complete-bar {
  margin-left: 21px;
}

.education-career {
  background: url(/Zora_20210812/images/background1.jpeg);
  background-size: cover;
  background-attachment: fixed;
  height: 374px;
}

.education-career-mask {
  background: linear-gradient(290deg, #2e4a66e5, #007991e5);
  height: 374px;
}

.education-career-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 300px;
  margin-right: 300px;
  padding-top: 100px;
}

.education-career-container-skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.education-career-container-skill-list {
  margin-right: 50px;
}

.education-career-container-skill-list h1 {
  font-size: 25px;
  color: #FFFFFF;
  padding-top: 17px;
}

.education-career-container-skill-list p {
  font-size: 15px;
  color: #FFFFFF;
  margin-left: 0;
  line-height: 25px;
  letter-spacing: 0.5px;
}

.separator-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.parallelogram {
  width: 25.5px;
  height: 6px;
  -webkit-transform: skew(-50deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  background: #FF9635;
  margin-right: 10px;
}

.education-career-container-skill-block {
  height: 274px;
  width: 400px;
  background-color: #FFFFFF;
}

.education-career-container-skill-block p {
  color: #007991;
  margin-left: 52px;
  margin-top: 37px;
  font-weight: bold;
}

.education-career-container-skill-block h2 {
  font-size: 25px;
  margin-left: 52px;
  line-height: 30px;
  margin-bottom: 25px;
  font-weight: bold;
}

.education-career-container-skill-block-star {
  font-size: 15px;
  position: relative;
  margin-left: 70px;
}

.education-career-container-skill-block-star:hover {
  color: #FF9635;
  cursor: pointer;
}

.education-career-container-skill-block-star::before {
  content: "";
  width: 9px;
  height: 9px;
  background: url(/Zora_20210812/images/Polygon4.svg) no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: -15px;
}

.education-career-container-skill-block-star:hover::before {
  background: url(/Zora_20210812/images/Polygon3.svg) no-repeat;
}

.education-choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 169px;
  margin-bottom: 130px;
}

.education-choose-left-content p {
  margin-left: 0;
  font-size: 15px;
  font-weight: bold;
}

.education-choose-left-content h1 {
  font-size: 45px;
  font-weight: bold;
}

.education-choose-left-content h2 {
  color: #22323D;
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
}

.education-choose-right-content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 38px;
}

.education-choose-right-content-list h2 {
  font-size: 15px;
  color: #22323D;
  line-height: 20px;
}

.education-choose-right-content-list h1 {
  margin: 0;
  padding-bottom: 8px;
  font-size: 20px;
}

.education-choose-right-content-list p {
  margin: 0;
  font-weight: normal;
  color: #22323D;
  line-height: 20px;
}

.education-choose-right-content-list-icon1 {
  width: 36px;
  height: 36px;
  border-radius: 999em;
  background-color: #FFAB5E;
  margin-right: 17px;
  position: relative;
}

.education-choose-right-content-list-icon1::before {
  content: "";
  background: url(/zora_20210812/images/fa-solid_crown.svg) no-repeat;
  position: absolute;
  width: 21px;
  height: 17px;
  top: 9px;
  right: 8px;
}

.education-choose-right-content-list-icon1:hover:before {
  background: url(/zora_20210812/images/fa-solid_crown_gray.svg) no-repeat;
}

.education-comment {
  height: 970px;
  background-color: #ECF0F2;
}

.education-comment-title {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 75px;
}

.education-comment-title p {
  margin: 0;
}