/*Initial setting*/



$primary-color:#007991;
$second-color:#FFAB5E;
$button-hover-color:#FF9635;
$content-text-color:#22323D;
 
.container{
  width:1200px;
  height:auto;
  margin:auto;

}


* {
  box-sizing: border-box;
}




@import './zora_20210812_header.scss';


/*education-technologies-container*/




.education-technologies-container{
margin-top: 100px;
margin-bottom:167px;

}


.education-technologies-title{
display: flex;
justify-content: space-between;
align-items: center;
}

.education-technologies-title-container{
width: 50%;
}

.education-technologies-title-container h2{

font-size: 45px;
line-height: 1.2;
word-wrap:break-word;
}





.education-technologies-img {
width: 50%;
}




.education-technologies-img ul{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
list-style-type: none;
overflow: hidden;
width: 100%;
}



.education-technologies-courses{
margin-top: 80px;
display: flex; 
justify-content: space-between;

}

.education-technologies-courses-flex{
  display: flex; 
  justify-content: space-between;
  width: 75%;
}




.education-technologies-courses-title p{

padding-bottom: 12px;
margin: 0;
}


.education-technologies-courses-title h2{
font-size: 45px;
margin: 0;
}


.education-technologies-courses-line{
border-left:solid $second-color 3px;
height: 100%;
width: 55%;
}

.education-technologies-courses-line p{

color: $content-text-color;
padding-left: 40px;
line-height: 30px;
word-wrap:break-word;
margin-top: 0;

}


.education-technologies-courses-btn{

background-color: $second-color;
border-style:none;
text-align: center;
justify-content: center;
display: inline-block;
border-radius:100px;
font-size: 14px;
color: #FFFFFF;
padding: 15px 40px;
cursor: pointer;

}

.education-technologies-courses-btn:hover{
background-color: $button-hover-color;
}

.education-popular-courses-list{
margin-top: 120px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.education-popular-courses-list-content{
border:solid #333333 1px;
width: 30%;
height:409px;
border-bottom-right-radius:5px;
border-bottom-left-radius:5px;
}




.education-popular-courses-list-content h3,p{
margin: 0;
}

.education-popular-courses-list-content h3{
padding-top:18px;
padding-bottom: 11px;
}


.education-popular-courses-list-content p{
font-size: 15px;
padding-bottom:22px ;
}



.education-popular-courses-list-content img{
width: 100%;
overflow:hidden;
}


.education-popular-courses-list-content-btn{

background-color: #428BCA;
border: #357EBD;
border-style:none;
justify-content: center;
display:inline-block;
border-radius:4px;
font-size: 14px;
color: #FFFFFF;
padding: 6px 12px;
cursor: pointer;
width: 100%;

}

.education-popular-courses-list-content-btn:hover{

background-color: #357EBD;
}


.complete-bar{

margin-top:17px ;
border-top: solid #C4C4C4 5px;
border-radius: 11px;
width:100%;
font-size: 12px;
color: $primary-color;


}


.complete-bar p{

float: right;
}



.content-box{

justify-content: center;
padding: 10px;
  
}


.education-career{
background: url(/images/background1.jpeg);
background-size:cover;
background-attachment: fixed;
height:100%;
}

.education-career-mask{
background: linear-gradient(290deg,#2e4a66e5,#007991e5);
height:100%;

}

.education-career-container{
display: flex;
justify-content: space-between;
padding-top: 100px;

}


.education-career-container-skill{
display: flex;
justify-content: space-between;
width: 100%;
}


.education-career-container-skill-list{
width: 33.33%;
margin-right: 40px;
}

.education-career-container-skill-list h1{
font-size:25px;
color: #FFFFFF;
padding-top:17px ;
}

.education-career-container-skill-list p{
font-size:15px;
color: #FFFFFF;
margin-left: 0;
line-height: 25px;
letter-spacing:0.5px;
}


.separator-line{

display: flex;

}



.parallelogram{

width: 25.5px;
height: 6px;
transform: skew(20deg);
background:$button-hover-color;
margin-right: 10px;

}



.education-career-container-skill-block{

height:274px;
width: 70%;
background-color: #FFFFFF;
padding: 40px;
}



.education-career-container-skill-block p{

color: $primary-color;
font-weight:bold;
word-wrap: break-word;
line-height:1.5;
}


.education-career-container-skill-block h2{

font-size: 25px;
font-weight:bold;
}


.education-career-container-skill-block-star{

font-size: 15px; 
position: relative;
padding-left: 20px;
 }


 
 .education-career-container-skill-block-star:hover{
 
color: $button-hover-color;
cursor: pointer;
}
 
.education-career-container-skill-block-star::before{
 content:"";
width: 9px;
height: 9px;
background: url(./images/Polygon3.svg) no-repeat;
position: absolute;
top: 50%;
margin-top: -5px;
left:0
}
 
 .education-career-container-skill-block-star:hover::before{
 
background: url(./images/Polygon3.svg) no-repeat;
}


.education-choose{

display: flex;
justify-content: space-between;
margin-top:169px ;
margin-bottom:130px;
}



.education-choose-left-content p{

margin-left: 0;
font-size: 15px;
font-weight: bold;
}

.education-choose-left-content h1{

font-size:45px ;
font-weight: bold;
}

.education-choose-left-content h2{
color: $content-text-color;
font-size:15px ;
line-height: 20px;
font-weight:normal;
}


.education-choose-right-content-list{
display: flex;
margin-bottom: 38px;
}


.education-choose-right-content-list h2{
font-size: 15px;
color: $content-text-color;
line-height: 20px;
}



.education-choose-right-content-list h1{
margin: 0;
padding-bottom: 8px;
font-size: 20px;
}



.education-choose-right-content-list p{
margin: 0;
font-weight:normal;
color: $content-text-color;
line-height: 20px;
}

.education-choose-right-content-list-icon1{
width:36px;
height:36px;
border-radius:999em;
background-color: $second-color;
margin-right: 17px;
position: relative;
}

.education-choose-right-content-list-icon1::before{
content: "";
background: url(/images/fa-solid_crown.svg)no-repeat;
position: absolute;
width:21px;
height: 17px;
top:9px;
right: 8px;
}


.education-choose-right-content-list-icon1:hover:before{
background: url(/images/fa-solid_crown_gray.svg)no-repeat;
}

.education-comment-bg{

height: 970px;
background-color:#ecf0f282 ;

}


.education-comment-title{
display: flex;
justify-content: space-between;
padding-top: 75px;
}

.education-comment-title p{
margin: 0;
}

.education-comment-score{
display: flex;
}



.education-comment-score h1{
font-size:90px ;
color: $content-text-color;
margin: 0;
}


.education-comment-content-block{
width: 48%;
height: 210px;
background-color: #FFFFFF;
border-radius: 30px;
margin-top: 100px;
padding: 20px;

}

.comment-box{
height: 100%;
width: 100%;  

}

.education-comment-content-block p{
padding:0;
margin-top: -20px;
line-height: 20px;
margin-left:35px ;
margin-bottom:30px ;
}

.education-comment-score-star{
margin-top: 10px;
margin-left: 51px;
}

.star-elementor{
display: flex;
margin-bottom: 11px;
}

.star{
color: #FFAB5E;
}

.education-comment-score-star-title{
line-height: 25px;
}

.education-comment-content-block-photo{
border-radius: 15px;
background-size: cover;
}

.education-comment-content-block-photo1{
position: relative;
bottom:50px;
left: 35px;
}

.elementor-star-full{
  display: flex;
  justify-content: space-between;
}

.star-box{
  display: flex;
}

.star-full::after{
content: "\002605";
color: #FFAB5E;
padding-right: 8.5px;
position: relative;
top:-15px

}

.education-comment-row{

display: flex;  
justify-content: space-between;

}


.education-join-bg{

height: 400px;
background-color:#ECF0F2;

}

.education-join{
text-align: center;  
padding-top:76px ;

}


.education-join h1{
font-size:45px;
margin-top: 0;
}

.education-join p{
  font-size:15px;
}


input[type=email] {
height: 50px;
width: 391px;
background-color: #FFFFFF;
border-style:solid;
border-color:#E5E5E5 ;
margin-top: 29px;
padding-left: 14px;
}


.email-btn-elementor{

background-color: $second-color;
border-style:none;
text-align: center;
border-radius:100px;
font-size: 14px;
color: #FFFFFF;
padding: 15px 32px;
cursor: pointer;
}

.email-btn-elementor:hover{
background-color: $button-hover-color;
}



.email-btn{

margin-top: 29px;  

}

.footer-bg{
  height: 400px;
  padding-top:106px ;
}

.footer-logo{
height: 60px; 
width: auto;
margin-bottom: 57px;
}

.footer-row-left p{
color: $content-text-color;
margin-left: 0;
line-height: 25px;
}

.footer{
display: flex;  
justify-content: space-between;
}

.footer-row-left ul{
display: flex;
list-style-type:none ;
padding-left: 0;
margin-top: 40px;
}

.footer-row-left li{
padding-right:15px ;

}


.footer-row-right{
display: flex;

}


.footer-row-right-list-1 h1,
.footer-row-right-list-2 h1{
font-size: 21px;
color: $content-text-color;
}


.footer-row-right-list-1 ul,
.footer-row-right-list-2 ul{
list-style-type: none;
margin-top:30px ;
padding-left: 0;  
font-size: 15px;

}

.footer-row-right-list-1 li,
.footer-row-right-list-2 li{
color: $content-text-color;
padding-bottom: 11px;  

}

.footer-row-right-list-1{
margin-right: 150px;

}


.footer-container{
height: 100px;
border-top:1px solid #989898 ;
margin: 0 auto;
}

.footer-copyright{
display: flex;  
justify-content: space-between;
margin-top:50.5px ;
margin-bottom: 50px;
font-size: 14px;
}



@media only screen and(max-width:1300px){
  .container,.menu-container{
    width: 95%;
  }
}


@media only screen and(max-width:1024px){

  
  .education-technologies-title{
    
    display: block;
   
  }
    
  .education-technologies-img ul {
    display: block;
    padding: 0 ;
    text-align: center;
  }

  .education-technologies-img li {
    display: inline;
    padding: 0 18px  ;
   
  } 

  .education-technologies-title-container h2{
    
    text-align:center;
  }
  
 
  
  .education-technologies-title-container{
    width:100%;
  }
  
 

  .education-technologies-img{
    width:100%;
  }

  .education-career-container{
  display: block;
  padding-top: 50px;
  
  }
  .education-career-container h2{

  font-size: 18px;
  }

  .education-technologies-courses{
    display: block;
  }
  .button-box{
    margin-top: 40px;
  }

  .education-technologies-courses-flex{
    width: 100%;
  }


  .education-career-container-skill-block{
    width: 40%;
    margin-top: 40px;
  }

  }
  label {
		display: block;
	}

  .menu-btn{
    opacity: 100%;
    
  }
  @media only screen and(max-width:1010px){
  
  .education-header-navbar-menu{
    display:none ;

  }
  .menu-block {
    display: block;
}
  }