
/*CSS reset頁面滿版*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* 使用 keyframes 來決定物件的開始和結束狀態 */
@keyframes fadein {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

.logo{
    display: flex;           
    width: 100%;
    height: 70px;
}

.container{
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    
}

.logo-brand{
    display: block;
    width: 165px;
    height: 54px;
    background-image: url(img/Logo\ Regular.png);
    background-size: contain;
    margin:  10px auto;
}

.navbar{
    display: flex;  
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item{
    width: 351px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.col-1,.col-2,.col-3,.col-4,.col-5{
    text-decoration: none;
    font-size: 16px;
    color: #9D9B99;
    text-align: center;
    font-family:Didot, serif;
    padding-left: 5px;
    padding-right: 5px;
    
}

.col:hover{
    color: #EB5058;
}

.main-section{
    
    width: 100%;
    height: 800px;
    /*視差滾動，在滿版背景區塊使用fixed*/
    background-image: url(img/hero-bg-free-img.jpg);
    background-attachment: fixed; 
    background-size: cover;
    background-repeat: no-repeat;
    /*背景色遮罩*/
    background-color: rgba(82, 82, 82, 0.6);
    background-blend-mode: multiply;
    /*父層置中*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-2{
    text-align: center;
    max-width: 724px;
    height: 234px;
}

.row-2 h4{
    font-size: 24px; 
    font-family:Didot, serif;
    color: #ffffff;
    padding-bottom: 34px;
    /*淡入淡出*/
    animation: fadein 6s ease;
}    

.row-2 h3{
    font-size: 36px;
    color: #ffffff;
    padding-bottom: 34px;
    /*淡入淡出*/
    animation: fadein 6s ease;
}

.btn{
    display: block;
    width: 148px;
    height: 44px;
    border: 1px solid #ffffff;
    font-size: 16px;
    color: #ffffff;
    /*位置置中*/
    margin: 0 auto;
    /*文字水平垂直置中*/
    text-align: center;
    line-height: 27px;
    border-radius: 0%;
}

.btn:hover{
    background-color:#EB5058 ;
    border-color: #EB5058;
    color: #ffffff;
}

.section-2{
    width: 100%;
    height: 1100px;
    /*父層置中*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.red-line{
    display: block;
    border-style: none;
    width: 1px;
    height: 100px;
    background-color:#EB5058 ;
    margin:0px auto;
    z-index: 99;
    top: 44%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.red-line-section{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.red-line-second{
    display: block;
    border-style: none;
    width: 1px;
    height: 100px;
    background-color:#EB5058 ;
    margin:0px auto;
    
}

.section-2-content{
    width: 1100px;
    height: auto;
    text-align: center;
}

.section-2-top-img{
    width: 1100px;
    height: 502px;
    padding: 50px 0;
    
}
.img{
    width: 595px;
    height: 402px;
    background-image: url(img/Food\ Image\ 4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin:0px auto;

}
.section-2-content h4{
    font-size: 24px; 
    font-family:Didot, serif;
    color: #000000;
    padding-bottom: 40px;
    
}

.section-2-content h3{
    font-size: 36px;
    color: #000000;
    padding-bottom: 40px;
    
}
.section-2-content p{
    font-size: 16px; 
    font-family:Didot, serif;
    color: #9E9E9E;
    padding-top: 40px;
    line-height: 28px;
}

.line-s{
    width: 50px;
    height: 1px;
    background-color:#EB5058 ;
    margin:0px auto;
    
}

.section-2-btn{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btn-2{
    width: 148px;
    height: 44px;
    border: 1px solid #EB5058;
    font-size: 16px;
    color: #EB5058;
    /*文字水平垂直置中*/
    text-align: center;
    line-height: 44px;
}

.btn-2:hover{
    background-color:#EB5058 ;
    border-color: #EB5058;
    color: #ffffff;
}

.section-3{
    width: 100%;
    height: 400px;
    /*父層置中*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3-content{
    width: 800px;
    height: 370px;
    text-align: center; 
}

.section-3-content h4{
    font-size: 24px; 
    font-family:Didot, serif;
    color: #000000;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;  
}

.section-3-content h3{
    font-size: 36px;
    color: #000000;
    padding-bottom: 40px;
    text-align: center;
}
.section-3-content p{
    font-size: 16px; 
    font-family:Didot, serif;
    color: #9E9E9E;
    padding-top: 40px;
    text-align: center;
    line-height: 28px;
}

.section-4{
    width: 100%;
    height: 670px;
    /*父層置中*/
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.section-4-content{
    width: 1100px;
    height: 640px;
    
}

.menu-left{
    display: block;
    float: left;
    width: 50%;
    height: 100%;
    padding: 30px;

}

.menu-title{
    font-size: 30px;
    padding-top:70px;
    padding-bottom: 30px;
}

.menu-item{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 30px;
    
}

.menu-dots{
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom-style: dotted;
    border-bottom-width: 2px;
    height: 0;
}

.menu-mane{
    font-size: 20px;
    font-family:Didot, serif;
}

.menu-price{
    float: right;
    font-size: 20px;
    font-family:Didot, serif;

}

.menu-description{
    font-size: 16px;
    font-family:Didot, serif;
    color: #9E9E9E;

}

.menu-pic-right{
    display:inline-block;
    width: 50%;
    height: 100%;
    padding: 30px;
    
}

.img-2{
    width: 100%;
    height: 100%;
    background-image: url(img/Food\ image\ 3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.section-5{
    width: 100%;
    height: 670px;
    /*父層置中*/
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.section-5-content{
    width: 1100px;
    height: 640px;
    
}
.menu-right{
    display: block;
    float: right;
    width: 50%;
    height: 100%;
    padding: 30px;
}

.menu-pic-left{
    display:inline-block;
    width: 50%;
    height: 100%;
    padding: 30px;
    
}

.img-3{
    width: 100%;
    height: 100%;
    background-image: url(img/Food\ image\ 2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.section-6{
    width: 100%;
    height: 650px;
    /*父層置中*/
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(img/bg-graphic-01-free-img.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    margin: 30px 0 96px 0;    
}

.section-6-content{
    width: 800px;
    height: 450px;
    text-align: center;
    
}
.section-6-content h3{
    font-size: 36px;
    color: #000000;
    padding-bottom: 40px;
    text-align: center;
}
.section-6-content p{
    font-size: 16px; 
    font-family:Didot, serif;
    color: #9E9E9E;
    padding-top: 40px;
    text-align: center;
    line-height: 28px;
}
.leaf{
    background-image: url(img/Leafs.png);
    width: 66px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.star{
    background-image: url(img/Stars.png);
    width: 370px;
    height: 102px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-bottom: 40px;
}

.sign{
    font-size: 16px;
    color: #000000;
}

.section-7{
    width: 100%;
    height: 800px;
    /*父層置中*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-7-content{
    width: 1100px;
    height: auto;
    text-align: center;
}

.section-7-content h4{
    font-size: 24px; 
    font-family:Didot, serif;
    color: #000000;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;  
}

.section-7-content h3{
    font-size: 36px;
    color: #000000;
    padding-bottom: 40px;
    text-align: center;
}

.section-7-top-img{
    width: 1100px;
    height: 502px;
    padding: 50px 0;
    
}
.section-img{
    width: 100%;
    height: 100%;
    background-image: url(img/Food\ Image.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin:0px auto;
}

.resch-us-section{
    width: 100%;
    height: 685px;

    /*視差滾動，在滿版背景區塊使用fixed*/
    background-image: url(img/ingredients-cooking-gray-concrete.jpg);
    background-attachment: fixed; 
    background-size: cover;
    background-repeat: no-repeat;
    /*背景色遮罩*/
    background-color: rgba(255, 255, 255, 0.808);
    background-blend-mode: multiply;
    /*父層置中*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.resch-us-section-content{
    width: 400px;
    height: 326px;
    text-align: center;
}
.resch-us{
    font-size: 16px;
    color: #9E9E9E;
    margin: 20px 0 20px 0;
    
}
.phone-number{
    font-size: 50px;
    font-family:Didot, serif;
    color: #EB5058;
    
}
.addres-title{
    font-size: 16px;
    color: #9E9E9E;
    margin: 20px 0 10px 0;
    
}
.address{
    font-size: 16px;
    font-family:Didot, serif;
    color: black;
    margin-bottom: 20px;
    
}

.resch-us-section-icon{
    display: flex;
    width: 100px;
    height: 25px;
    margin: 0 auto;
}
.icon-fb{
    display: block;
    width: 25px;
    height: 25px;
    background-image: url(img/facebook-logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    
}
.icon-ig{
    display: block;
    width: 25px;
    height: 25px;
    background-image: url(img/twitter.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    
}
.icon-mail{
    display: block;
    width: 25px;
    height: 25px;
    background-image: url(img/gmail.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    
}
.footer{
    width: 100%;
    height: 50px;
    font-size: 15px;
    color: #3a3a3a;
    background-color:#eeeeee ;
    text-align: center;
    line-height: 50px;
}

/* 適用螢幕寬度小於480px的裝置（當螢幕小於480px時 */
@media screen and (max-width:480px){

    .container{
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    
    .nav-item{
        width: 100%;
        height: 100%;
        text-align: center;
    }
    
    .col-1,.col-2,.col-3,.col-4,.col-5{
        text-decoration: none;
        font-size: 14px;
        color: #9D9B99;
        text-align: center;
        font-family:Didot, serif;
        padding-left: 3px;
        padding-right: 3px;
    }

    .main-section{
        width: 100%;
        height: 600px;
    }

    .row-2 h3{
        padding:0 10px 0 10px;
        font-size: 36px;
        color: #ffffff;
        padding-bottom: 34px;
        white-space: pre-wrap;
    }

    .section-2 {
        height: 1195px;
    }

    .section-2-content{
        width: 100%;
        height: auto;
        text-align: center;
    }

    .section-2-top-img{
        width: 100%;
        height: 100%;
        padding: 50px 0;
    }

    .img{
        width: 360px;
        height: 320px;
    }

    .section-2-content h3{
        padding-left: 10px;
        padding-right: 10px;
        white-space: pre-wrap;
    }

    .section-2-content p{
        padding:40px 10px 15px 10px;
        white-space: pre-wrap;
    }

    .section-3 {
        height:470px;
    }

    .section-3-content {
        height: 100%;
    }

    .section-3-content h3{
        padding-left: 10px;
        padding-right: 10px;
        white-space: pre-wrap;
    }

    .section-3-content p{
        padding: 40px 10px 15px 10px;
        white-space: pre-wrap;
    }

    .red-line-section{
        width: 100%;
        height: 230px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-4{
        height: 750px;
    }

    .menu-item{
        display: flex;
        justify-content: space-between;
        align-items:center;
        margin-top: 10px;
    }

    .menu-left {
        width: 100%;
        height: 60%;
        background-color: #ecececa2;
        padding: 10px;
        transform:translate(0px,320px);
    }

    .menu-title{
        font-size: 20px;
        padding: 20px 0 20px 0;
    }

    .menu-dots{
        display: none;
    }
    
    .menu-mane{
        font-size: 16px;
    }
    
    .menu-price{
        font-size: 16px;
    }
    
    .menu-description{
        font-size: 12px;
    }

    .menu-pic-right{
        display: block;
        width: 100%;
        height: 50%;
        padding: 10px;
    }

    .section-5{
        height: 770px;
    }

    .menu-pic-left{
        display: block;
        width: 100%;
        height: 50%;
        padding: 10px;
    }

    .menu-right {
        width: 100%;
        height: 60%;
        background-color: #ecececa2;
        padding: 10px;
        transform:translate(0px,320px);
    }

    .section-6 {
        margin: 50px 0 50px 0;
    }

    .section-6-content h3 {
        padding: 0 10px 0 10px;
        white-space: pre-wrap;
    }

    .section-6-content p {
        padding: 0 10px 0 10px;
        white-space: pre-wrap;
    }

    .section-7-top-img {
        width: 100%;
        height: 250px;
        padding: 0;
    }

    .section-img {
        width: 100%;
        height: 100%;
    }

    .section-7 {
        height: 600px;
    }

    .phone-number {
        font-size: 42px;
    }
    .footer {
        height: 40px;
        font-size: 10px;
        line-height: 20px;
        text-align: center;
        padding: 0 10px 0 10px;
    }
}